.sidebar {
    position: fixed !important;
    width: 150px;
    height: 100vh;
    margin-left: -120px;
    margin-top: -40px;

  
  }

.sidebarWrapper{
  padding: 20px;
}

.sidebarMenu{
    margin-bottom: 30px;
}

.sidebarTitle{
<<<<<<< HEAD
    font-size: 22px;
    color: inherit;
  

=======
    font-size: 14px;
    color: rgb(187, 186, 186);
>>>>>>> 6ed720162ad08a400a54cffea54f0764e68f48a8
}

.sidebarList{
    list-style: none;
    padding: 7px; 

}

.sidebarListItem{
<<<<<<< HEAD
    padding: 5px;
    margin-bottom: 5px;
=======
    padding: 4px;
>>>>>>> 6ed720162ad08a400a54cffea54f0764e68f48a8
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 120px;
<<<<<<< HEAD
=======

}

.sidebarListItem a:hover{
    color: rgb(187, 186, 186);
}

.sidebarListItem:hover{
    color: rgb(187, 186, 186);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important; 

>>>>>>> 6ed720162ad08a400a54cffea54f0764e68f48a8

}

.sidebarListItem a:hover{
    color: rgb(187, 186, 186);
}

.sidebarListItem:hover{
    color: rgb(187, 186, 186);
}



.sideBarNav{
    color: #555;
    text-decoration: none;
    
}

