.sidebar {
    position: fixed !important;
    width: 150px;
    height: 100vh;
    margin-left: -120px;
    margin-top: -40px;

  
  }

.sidebarWrapper{
  padding: 20px;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 14px;
    color: rgb(187, 186, 186);
}

.sidebarList{
    list-style: none;
    padding: 5px;   
}

.sidebarListItem{
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 120px;

}

.sidebarListItem a:hover{
    color: rgb(187, 186, 186);
}

.sidebarListItem:hover{
    color: rgb(187, 186, 186);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important; 


}

.sideBarNav{
    color: #555;
    text-decoration: none;
    
}

